CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_ramips_mt76x8_DEVICE_hiwifi_hc5661a=y

# CONFIG_TARGET_BOARD="ramips"
# CONFIG_TARGET_SUBTARGET="mt76x8"
# CONFIG_TARGET_PROFILE="hiwifi_hc5661a"

# CONFIG_TARGET_ARCH_PACKAGES="mipsel_24kc"
# CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mno-branch-likely -mips32r2 -mtune=24kc"
# CONFIG_CPU_TYPE="24kc"

CONFIG_LINUX_4_9=y

# CONFIG_PACKAGE_luci-app-adbyby-plus=n
